<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Vote</title>

        <script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/script/addField.js"></script>
        <script type="text/javascript" src="/script/ajax.js"></script>


        <link rel="stylesheet" href="/css/style.css" />

    </head>

    <body id="addBody">

        <div class = "container">
            <h3>Создание голосования</h3>
            <form id = "add-vote-form">

                <div class="row">
                    <div class="col-25">
                        <label for="userName">Имя:</label>
                    </div>
                    <div class="col-70">
                        <input id = "userName" type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-70">
                        <input id = "email" type="email"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="topic">Название голосования:</label>
                    </div>
                    <div class="col-70">
                        <input id = "topic" type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="description">Описание:</label>
                    </div>
                    <div class="col-70">
                        <textarea id = "description" />
                    </div>
                </div>

                <div id = "row-container">

                </div>


                <div class="row">
                    <input type="submit" id="btn-add" value="Сохранить голосование" />
                </div>
            </form>

            <div class="errors">

            </div>
        </div>

    </body>
</html>