<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vote</title>

    <script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/script/ajax.js"></script>


    <link rel="stylesheet" href="/css/style.css" />


</head>
    <body>
        <div class="container">

            <h3>Популярные голосования</h3>

            <div id="vote-container"></div>
            <form action="/vote/view/add">
                <input type="submit" id="button" value="Создать новое голосование" />
            </form>

        </div>

    <script>
        $(document).ready(function () {
            getTop10();
        })
    </script>

    </body>
</html>