<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Show Vote</title>

        <script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/script/ajax.js"></script>
        <script type="text/javascript" src="/script/removeVote.js"></script>

        <link rel="stylesheet" href="/css/style.css" />

    </head>
    <body>

        <form id="remove-vote-form">
            <input type="submit" id="remove-btn" value="Удалить" />
        </form>

    </body>
</html>