<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8" />
        <title>Show Vote</title>

        <script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/script/ajax.js"></script>
        <script type="text/javascript" src="/script/showVote.js"></script>

        <link rel="stylesheet" href="/css/style.css" />

    </head>
    <body>
        <div class="container">
            <h2 id="topic"></h2>
            <strong><p id="description"></p></strong>
            <div class="errors"></div>
            <form id="reply_form">

                <div id="option-container">

                </div>
                <div class="row">
                    <input type="submit" id="btn-reply" value="Ответить" />
                </div>
            </form>
        </div>
    </body>
</html>