* {
    box-sizing: border-box;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.errors {
    color: red;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: top;
    margin-top: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#remove-btn {
    background-color: #ff3737;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: top;
    margin-top: 6px;
}

A {
    text-decoration: none;
    color: #0011a0;
}
A:hover {
    text-decoration: underline;
    color: red;
}

A:visited {
    text-decoration: none;
    color: #0011a0;
}
A:active {
    text-decoration: none;
    color: #0011a0;
}

#remove-btn:hover {
    background-color: red;
}

.container {
    width: 850px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#canvas-holder {
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

.col-5 {
    float: left;
    width: 5%;
    padding-top: 25px;
    padding-left: 8px;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    padding-top: 0;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #45a049;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 850px) {
    .col-25, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .col-70 {
        width: 95%;
        margin-top: 0;
    }
}